*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,300;0,400;0,800;1,800&display=swap');


/* COLOR PALETTE */

:root{
    --LightestBG : #F7FFE5;
    --LighterBG: #E1ECC8;
    --LighterFG: #C4D7B2;
    --DarkerFG: #A0C49D;
    --Yellow: rgb(247, 245, 178);
    --HMYellow: #EDC62B;
    --DarkText : rgb(62, 62, 62);


    --fontFamily: 'Kumbh Sans', sans-serif;


    --headerColor: #212529;
    --cardBG: #07303E;
    --cardBG-hover: #0e4c61;
    --category: #24728c;

    --HMGreen: #23592C;



    --dropdownBR: "0 0 0.375rem 0.375rem";

}

body{
    background-color: var(--LightestBG);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
            sans-serif;
}





header{
    z-index:200;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
   
    /* height: 7rem; */
    background-color:var(--headerColor);
    position:fixed;
    width:100%;
    margin-top:0;
    
}

header img{
   max-width:40%;
   justify-self:flex-start;
    margin-right:2%;

    height: 3rem;
   
}

h1{
    color: var(--DarkText);
}

.menu-btn{
    position:fixed;
    z-index: 15;
    top:.75rem;
    right:1rem;
    height: 50px;
    width: 50px;
    /* background-color: blue;; */
    border-radius: 1rem;
    border: 2px solid white;
    transition: 100ms ease-out;
}
.menu-btn:hover{
    transform:scale(1.1);
    /* background-color: var(--DarkerFG); */
}


button:hover{
    cursor: pointer;
}

button svg{
    stroke:var(--DarkText);
    /* stroke-Width:2px; */
}

button:hover svg{
    fill:white;
}




.menu-trigger .menu-btn.active{
    transform: scale(1.1);
    background-color: var(--LightestBG);
}

/* dropdown_menu  class my element, from header.js, .dropdown-menu is Bootstrap, dropdown inside each category @ mobile. */
.dropdown_menu{
    z-index:200;
    /* border: 5px solid white; */
    /* border:2px solid red; */
    box-shadow: .5rem .5rem rgb(62, 62, 62, .6);
    border-radius:2rem;
    font-family:var(--fontFamily);

    width:85%;
    max-width:551px;
    min-width:315px;
    padding: 2rem;
    overflow-x:hidden;
    overflow:scroll;

    
    position:fixed;
    top:6rem;
    right:0rem;
    margin-right:2rem;
    height:60vh;
    display:none;
    flex-direction:column;
    align-items: center;;
    color: white;
    font-weight:50;
}


.dropdown_menu.active{
    display: flex;
}

.dropdown_menu::-webkit-scrollbar{
    display:none;
}

.dropdown-menu{
    border: 2px solid yellow;
}

.dropdown_menu, .filter-type, .search-bar-container {
    background-color: var(--cardBG-hover);
}

.search-bar-container{
    background-color:var(--cardBG-hover);
    display:flex;
    flex-direction: column;;
    align-items:center;
    width:100%;
}

.col{
    
    /* border: 1px solid red;
    margin:none; */
}


.form-control{
    height:10rem;
    padding:0;
    border:none;
    
}

.form-control option{
    
    width:100%;
    padding: 1rem;
    margin:0;
    border-bottom: 1px solid var(--DarkText);
}

.accordion-body{
    padding: 0;

}
.form-control::-webkit-scrollbar {
    display: none;
}

.accordion-collapse{
    /* border-radius: 0.375rem; */
    
}

.carList{
    display:grid;
    flex-wrap: wrap;
    /* display:none; */
    /* transform:translatey(75px); */
    /* position:fixed; */
    /* margin-top:75px; */
    padding:1rem;
    gap:1.5rem;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content:space-evenly;
    padding-top:6rem;
    
    padding-bottom:6rem;
}

.pagination-div{
    width:max-content;
    border: 2px solid var(--DarkText);
    display:flex;
    justify-content:center;
    background-color:var(--LighterBG);

    position:fixed;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    z-index:200;
    justify-content: space-evenly;


}
.page-btn{
    font-size: 2em;
    padding: 5px;
    transition:50ms ease-in-out;
    color: var(--DarkText);
}

@media (min-width:1300px){
    .page-btn{
        font-size: 1.5em;
            padding: 20px;
    }
    
}

.page-btn:hover{
    background-color:var(--DarkText);
    color:var(--LightestBG);
    transform: scale(1.2);
}


.card{
    
    font-weight: 100;
    color: white;
    background-color: var(--cardBG);
    /* border:1px solid red; */
    /* border-radius: 1rem; */
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1.5rem;
    /* min-width:14rem; */
    text-decoration: none;
    transition: 60ms ease-in-out;

}

.card:hover{
    transform:scale(1.025);
    box-shadow: .5rem .5rem rgb(62, 62, 62, .6);
    background-color: var(--cardBG-hover);
}

.card h3{
    font-size: 2em;
    text-align: center;
    margin-bottom:1rem;
    letter-spacing: .25rem;
    
}

.card h5{
    font-size: 1.5em;
    text-align:center;
    letter-spacing: .1rem;
}

.card > *:not(:last-child):not(img) {
    margin-bottom:.5rem;
}


.cardLinks{
    margin-top:1em;
    display:flex;
    justify-content:space-evenly;
    
    /* border: 1px solid black; */
    width:115%;
    
}

.card img{
    width: 100%;
    border-radius: 2px;
    margin-bottom: 2rem;
    margin-top:1rem;
}

.card-details{
    border-radius:.25rem;
    /* border: 2px solid black; */
    /* background-color: var(--LighterBG); */
    padding: 1rem;
    font-weight: 400;
    font-family: 'Kumbh Sans', sans-serif;
    align-self:first baseline;
    font-size: 1.5em;
    
}

.card-details p:not(:first-child){
    line-height: 2.75rem;
    border-top: 1px solid white;
}

.card-btn{
    padding:1rem;
    border-radius:3rem;
    background-color: rgb(247, 245, 178);
    border:none;
    font-size: 1.05em;
    font-weight: 400;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--DarkText);
    font-weight: 800;
    transition:200ms ease-out;
}

.card-btn:hover{
    background-color: var(--HMYellow);
    color: black;
    transform: scale(1.15);   
}


/* Searchbar */


.input-wrapper{
    /* border: 1px solid purple; */
    background-color: rgb(244, 244, 236);
    min-width: max-content;
    padding:.5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    border-radius: 1rem;
}
@media(max-width:550px) {

    .input-wrapper{
        padding:1rem;
        font-size: 1em;
    }

    #searchInput.placeholder{
        
        font-size: 1.1rem;
    }
   
}

.input-wrapper input{
    border:none;
    margin-left:1rem;
    width:100%;

}
.input-wrapper input{
    font-size: 1.1rem;

}

.input-wrapper input:focus{
    outline:none;
}


#search-icon{
    color: royalblue;
    font-size: 1.5em;
}

@media(min-width:550px){
   .input-wrapper input{
    font-size: 1.3rem;
    padding: .75rem;
   }

   #search-icon{
    font-size: 1.75em;
    margin-left: 1rem;
   }
}


.filters-container{
    margin-top:1rem;
    overflow-y: scroll;
    overflow-x: visible;
    border: 2px solid yellow;
}

/* //////////////// ACCORDION //////////////// */

.accordion{
    margin-top:10%;
    width:100%;
}

.accordion-item{
    margin-bottom:5%;
}


.filters-container::-webkit-scrollbar{
    display: none;
}

@media (min-width:550px) {
    .filters-container {
        width:100%;
    }
}

.filter-type{
    margin-bottom: 1rem;
    padding: 2rem;
    background-color: var(--category);
    border-radius: 1rem;;
}

.filter-type h4 {
    font-family: "Kumbh Sans";
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    letter-spacing: 5px;
    ;
    font-weight: 700;

}


@media (max-width:550px){
    .filter-type {
        margin-top: 1.5rem;
        padding: 1rem;
        width:100%;
    }
    .filter-type h4{
        font-size: 1.8rem;
    }


}





.filters{
    display:flex;
    flex-wrap:wrap;
    /* border: 1px solid red; */
}

.filters input{
    margin-right: .5rem;
}

.clear-filters-button{
    width:max-content;
    border: 1px solid blue;
    /* position:relative; */
    /* z-index: 2000; */
    overflow:visible;
    overflow-x: visible;
    
    /* z-index:1000; */
    
}

.clear-filters-button button{
    padding: 1rem;
    border-radius: 3rem;
    background-color: rgb(247, 245, 178);
    color: red;
    border: none;
    font-family: var(--fontFamily);
    font-size: 1.2em;
    font-weight:800;
    overflow:visible;
    
    transition: 200ms ease-out;
}


.clear-filters-button button:hover {
    background-color: var(--DarkText);
    cursor: pointer;
    color: var(--LightestBG);
    transform: scale(1.1);
    border: 2px solid white;

    
    width:max-content;
}


.range{
    width:100%;
    /* border: 1px solid blue; */
    accent-color: var(--Yellow);;
    /* background-color: var(--Yellow);; */
    
}

.range input{
   /* scrollbar-color:  */
accent-color: var(--Yellow);
    ;
}

.range span{
    font-size: 2rem;
}
.form-range{
    width:100%
}

.range label{
    font-size: 1.5em;
}













